

<ion-header>
  <ion-toolbar>
    <ion-item lines="none" >
      <ion-title>All Products</ion-title>
      <ion-avatar slot="end" (click)="createPopover($event)">
        <img src="https://img.travelibro.com/2017/December/30_12_2017/b782b2e5448960c4bf8ed09969357fdc/011540_b782b2e5448960c4bf8ed09969357fdc_600.jpg">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>
  

<ion-content>
<!-- fab placed to the bottom start -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/owner/tabs/products/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
